{% extends "_includes/default.njk" %}

{% block title %}
  Sick I Work!
{% endblock %}

{% block content %}

  <section class="fixed inset-0 flex items-center justify-center">
    <span x-data="{message:'🤖 Hello World 🤓'}" x-text="message"></span>
  </section>

{% endblock %}